name: Build and Publish Docker
on:
  push:
    branches:
      - master
jobs:
  job_1:
    runs-on: ubuntu-latest
    env:
      LOGIN: ${{ secrets.DOCKER_LOGIN }}
      NAME: ${{ secrets.DOCKER_NAME }} 
    steps:
      - id: login
        run: echo ${{ secrets.DOCKER_PASSWORD }} | docker login -u ${{ secrets.DOCKER_USERNAME }} --password-stdin
      - uses: actions/checkout@master
      - id: build
        run: sudo docker build -t b094d7b21ad5/graph .
      - id: push
        run: docker push b094d7b21ad5/graph 
